.blue { 
    background-color: #2ba6cb;
    color: black;

}

.teal {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    color: black;
    min-height: 100%;
    height: 100%;
    background-color: rgba(0, 128, 128);
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 90px;
    padding-left: 80px;
}

.controls {
    position: relative !important;
    display: inline-block !important;
}

.center_text{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-image: url("kids.jpeg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}

p {
    font-size: 18px;
}